{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<h2>{{ category.name }}</h2>
<ul>
    {% for product in products %}
        <li>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:100px;">
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }} грн</p>
            <a href="{% url 'add_to_cart' product.id %}">Додати в кошик</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
